@model IEnumerable<WebApplication1.Models.CollaborativeQuest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quest.QuestId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
