@model WebApplication1.Models.Learner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Learner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnerGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnerGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnerAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnerAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnerBirthdayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnerBirthdayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leaderboard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leaderboard.CourseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LearnerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
